<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="/normal/base::layout(~{::section})">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    
    <title>Update Contact</title>
</head>
<body>
     
     <section>
    
         <div class="card mx-3">
             <div class="card-body">
            
                 <h1 class="text-center">Update Your Contact</h1>
            
                 <div class="container-fluid mt-1">
                     <div class="row">
                         <div class="col-md-8 offset-md-2">
                        
                             <form action="#" th:action="@{/user/process-update}" th:object="${contact}"
                                   enctype="multipart/form-data"
                                   method="post" class="mt-2">
    
                                 <input th:value="${contact.id}" type="hidden" name="id" id="id" class="form-control" readonly>
                                 
                                 <div class="input-group mt-3">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">
                                             <i class="fa fa-plus" style="font-size: 1.4em;"></i>
                                         </div>
                                     </div>
                                
                                     <input th:value="${contact.name}" type="text" name="name" id="firstName" class="form-control"
                                            placeholder="Enter Name here" required>
                                 </div>
                            
                                 <div class="input-group mt-3">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">
                                             <i class="fas fa-user-alt" style="font-size: 1.4em;"></i>
                                         </div>
                                     </div>
                                
                                     <input th:value="${contact.secondName}" type="text" name="secondName" id="secondName" class="form-control"
                                            placeholder="Enter Nick Name here" required>
                                 </div>
                            
                                 <div class="input-group mt-3">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">
                                             <i class="fa fa-phone" style="font-size: 1.4em;"></i>
                                         </div>
                                     </div>
                                
                                     <input type="number" th:value="${contact.phoneNumber}" name="phoneNumber" id="phoneNumber" class="form-control"
                                            placeholder="Enter Phone Number here" required>
                                 </div>
                            
                                 <div class="input-group mt-3">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">
                                             @
                                         </div>
                                     </div>
                                
                                     <input type="email" th:value="${contact.email}" name="email" id="email" class="form-control"
                                            placeholder="Enter Email here" required>
                                 </div>
                            
                                 <div class="input-group mt-3">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">
                                             <i class="fa fa-briefcase" style="font-size: 1.4em;"></i>
                                         </div>
                                     </div>
                                
                                     <input type="text" th:value="${contact.work}" name="work" id="work" class="form-control"
                                            placeholder="Enter Work here" required>
                                 </div>
                            
                                 <div class="form-group mt-3">
                                    <textarea type="text" th:text="${contact.description}" name="description" id="mytextarea" class="form-control" rows="10"
                                              placeholder="Enter Description here"></textarea>
                                 </div>
                            
                                 <!-- Profile Image. -->
                                 <div class="container text-center">
                                     <img style="width: 250px; height: 250px" class="img-fluid my_profile_picture" src="" th:src="@{'/img/' + ${contact.imageUrl}}" />
                                 </div>
                                 
                                 <div class="custom-file mt-3">
                                     <input class="form-control" type="file" name="profileImage" />
                                 </div>
                            
                                 <div class="container text-center mt-3 mb-3">
                                     <button class="btn btn-outline-primary">Save Contact</button>
                                 </div>
                             </form>
                    
                         </div>
                     </div>
                 </div>
        
             </div>
         </div>
    
         <!-- Text editor to include only in this "Update Contact" page. -->
         <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
         <!-- Code (or Constructor) to initialize the "Text" editor. -->
         <script>
        tinymce.init({
        selector: '#mytextarea'
        });
        </script>
        
     </section>
     
</body>
</html>